.history-container {
    position: relative;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.history-container button{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #1d3557;
    padding: 0 10px;
    border-radius: 5px;
}

.history-container h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-item h3 {
    margin: 0 0 10px;
    color: #333;
    font-size:medium;
}

.history-item p {
    display: inline;
    margin: 5px 0;
    color: #666;
}
