.task {
    display: flex;
    min-width: 600px;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    gap: 10px;
    margin-bottom: 40px;
    /* position: relative; */

}

.task h3 {
    margin: 0;
    color: #f1faee;
    font-size: x-large;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: calc(100% - 191px);
    background-color: #f1faee;
    border-radius: 6px;
}

/* .input-button:focus-within {
    gap: 10px;
} */

.task input {
    font-size: large;
    /* width: calc(100% - 161px - 100px); */
    width: calc(100% - 55px);
    height: 28px;
    border: none;
    background-color: #f1faee;
    padding: 5px 5px 5px 0;
    outline: none;
}

/* .task input:focus {
    padding: 5px 0 5px 5px;
} */

.task svg {
    height: 34px;
    width: 34px;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.history {
    height: 34px;
    width: 34px;
    margin: 0;
    padding: 0;
    border: none;
    color: #1D3557;
    /* padding-left: 5px; */

    /* color: #a9c1e3; */
    background-color: #f1faee;;

    /* position: absolute;
    right: 65px;
    top: 2px; */
}

.history:focus {
    /* height: 30px;
    width: 30px; */
    outline: 2px solid color-mix(in srgb, #2a6f97 50%, white);
    /* padding: 2px; */
    border-radius: 6px;
}

.history:hover {
    background-color: color-mix(in srgb, #2a6f97 25%, white);
    outline: 2px solid color-mix(in srgb, #2a6f97 25%, white);
    border-radius: 6px;
}

